<br/><br/><br/><br/><br/>
<div class="col-md-4 col-md-offset-4">
<div class="login-panel panel panel-default">

  <div class="panel-heading">
      <h3 class="panel-title">Sign Up</h3>
  </div>

  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <fieldset>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>

          <div class="form-group">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          
          <div class="form-group">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
          </div>

          <%= f.submit "Sign Up", class: "btn btn-sm btn-success" %>
        </fieldset>
    <% end %>
  </div>
  
</div>
</div>

<%#= render "devise/shared/links" %>
