<br/><br/><br/><br/><br/>
<div class="col-md-4 col-md-offset-4">
<div class="login-panel panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Sign In</h3>
  </div>

  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <%= f.submit "Log in", class: "btn btn-sm btn-success" %>
        
      </fieldset>
    <% end %>
  </div>

</div>
</div>

<%#= render "devise/shared/links" %>