.task_complete{
	color: #CCC;
}

.task_complete .fa{
	color: limegreen;
}

.task-panel{
	background-color: #EEE;
	border: 1px solid #CCC;
	color: gray;
	padding: 3% 4%;
	letter-spacing: 1px;
}

.task-panel a{
	color: limegreen;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 16px;
}

hr{
	border-top: 1px solid #CCC;
}

.task-panel h3{
  font-family: sans-serif;
}

.add-button{
	color: purple;
}

.fa-plus-square-o{
	font-size: 30px !important;
}

.tasks-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.tasks-list li{
	background-color: white;
	padding: 10px;
	border: 1px solid #CCC;
}

.tasks-list .col-md-6{
	margin: 0;
	padding: 0;
}

.check-icon{
	font-size: 24px !important;
	color: gray !important;
	font-weight: lighter !important;
	margin-top: -25px;
}

@media only screen and (min-width : 1020px) {
	.odd-task{
		margin: 41px 0 0 -1px !important;
	}

	.fa.pull-right{
		float: none !important;
	}

}

